@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

@import './reset.css';
@import './colors.css';

.login-main {
  background-color: var(--primary-color);
  color: rgb(120 120 120);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container-login {
  background-color: var(--white-color);
  padding: 16px 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 415px;
}

.container-login h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 18px;
  color: var(--primary-color) !important;
}

.container-login a {
  margin-top: 21px;
}

.remember-me {
  margin-bottom: 10px;
}

.text {
  margin-top: .5rem;
}

.text a {
  color: #fdc20f !important;
}

.container-login a:hover {
  color: var(--primary-color) !important;
  text-decoration: dashed;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background-color: var(--primary-color);
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  color: var(--white-color);
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form-registration {
  margin: 0 !important;
}

.form-control {
  position: relative;
  margin: 0 0 35px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px rgb(186, 186, 186) solid;
  width: 100%;
  padding: 15px 5px;
  font-size: 18px;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
}

.btn-registration {
  margin-top: 10px;
}

input[type="file"] {
  display: none;
}

.input-file {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.input-file:active {
  transform: scale(0.98);
}

.input-file label {
  display: flex;
  padding: 20px 10px;
  height: 79px;
  background-color: #bbedb7;
  border-radius: 5px;
  border: dotted;
  cursor: pointer;
  justify-content: center;
}

.input-file label:hover {
  transition: .5s;
  background-color: #88d682;
}

.input-file label img {
  width: 50px;
}

@media (max-width: 551px) {
  .container-login {
    padding: 16px 30px;
  }
}
