@import './colors.css';

.nav-mobile {
  position: fixed;
  bottom: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-around;
  padding: 10px 5px;
  background-color: #16041b;
  z-index: 99;
}

.nav-mobile li div button,
.nav-mobile li div a {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
}

.nav-mobile li div a {
  text-decoration:  none;
}

.nav-mobile li div button:hover {
  cursor: pointer;
}

.nav-mobile li div button img,
.nav-mobile li div a img {
  width: 27px;
  height: 35px;
}

.nav-mobile li div button span,
.nav-mobile li div a span {
  color: var(--white-color);
  font-size: .8rem;
}

@media (max-width: 550px) {
  .nav-mobile {
    display: flex;
  }
}
