.mySwiperCarousel {
  padding-top: 62px !important;
}

.swiper-cards a {
  width: 100%;
  text-decoration: none;
}

.swiper-cards a header {
  margin-bottom: .6rem;
  border-bottom: 0.1rem solid var(--white-color);
  padding-left: 1.6rem;
  width: fit-content;
  border-image: linear-gradient(90deg,#fafafa,#db0a0a00) 30% 1;
}

.swiper-cards a header h2 {
  font-size: 1.3rem;
  font-weight: inherit;
  color: var(--white-color);
  padding-bottom: 0.5rem;
}

.swiper-cards {
  margin: 30px 0 !important;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  transition: .35s;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.slide-card:hover {
  position: relative;
  z-index: 999;
  transition: .35s;
  transform: scale(1.08) !important;
  box-shadow: 10px 10px 12px 0px rgba(50, 50, 50, 0.75);
}

.swiper-button-next, .swiper-button-prev {
  color: #fff !important;
}


@media (max-width: 550px) {
  .swiper-button-next,
  .swiper-button-prev,
  .swiper-pagination {
    display: none !important;
  }
}
