<aside>
  <nav class="sidebar fw_light df df_fdc">
    <%= link_to "Cadastro", accounts_register_path, class: "hover-list" %>
    <%= link_to "Alterar Senha", accounts_change_password_path, class: "hover-list" %>
    <%= link_to "Favoritos", favorites_path, class: "hover-list" %>
  </nav>
</aside>
