<footer>
  <div class="content-footer">
    <h2>Contatos</h2>
    <div>
      <%= link_to image_tag('github.svg', alt: 'github'), 'https://github.com/FelipeNevess', target: '_blank' %>
      <%= link_to image_tag('whatsapp.svg', alt: 'whatsapp'), 'https://www.linkedin.com/in/felipe-nevess/', target: '_blank' %>
      <%= link_to image_tag('linkedin.svg', alt: 'linkedin'), 'https://www.linkedin.com/in/felipe-nevess/', target: '_blank' %>
    </div>

    <span>Copyright &#169 <%= Date.current.year %></span>
  </div>
</footer>