<nav class="sidebar fw_light df df_fdc">
  <%= link_to "Cadastro", accounts_register_path, class: "hover-list selected" %>
  <%= link_to "Alterar Senha", accounts_change_password_path, class: "hover-list" %>
  <a href="/account/favorites" class="hover-list">Favoritos</a>
</nav>